code, pre {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: .75rem;
	border-radius: 6px;
	background-color: #f5f5f5;
	border: 1px solid #c7cdd1;
}

pre {
	color: #2d3b45;
	line-height: 1.2;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}
code {
	padding: .125rem .25rem;
	color: #e0061f;
}
